* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2541b2;
  font-family: "Staatliches", arial;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  /*min-height: 40vh; */
  height: 80vh;
  margin-top: 5%;
}

#title {
  padding: 1%;
  margin-top: 4%;
  font-size: 3.7rem;
  color: #e5d549;
}

.currentResult {
  color: #ffff;
  font-size: 2rem;
}

.display {
  display: flex;
  width: 84vh;
  height: 60vh;
}

.grow {
  transition: all 0.2s ease-in-out;
  transform: scale(1.5);
}

.choice-style {
  height: 39vh;
  width: 40vh;
  margin: 4% 1.5% 0;
  text-align: center;
  background-color: #ffff;
  border-radius: 2%;
  font-size: 2.4rem;
}

img {
  width: 17vh;
  height: 29vh;
}

.hide {
  display: none;
}

.playerButtons {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.btn-style {
  border-radius: 6%;
  border: none;
  padding: 15px 30px;
  width: 130px;
  margin: 4%;
  text-align: center;
  font-family: "Staatliches", arial;
  font-size: 1.4rem;
  background-color: #e5d549;
  cursor: pointer;
}

.reset {
  padding: 0.5%;
  margin: 1% 5% 0 3%;
  border: none;
  border-radius: 7%;
  font-size: 1rem;
  font-family: "Staatliches", arial;
  cursor: pointer;
}

.btn-style:hover {
  background-color: #ebe5ab;
}

.btn-style:active {
  transform: translateY(4px);
}

.reset:active {
  transform: translateY(4px);
}
