* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2541b2;
  font-family: "Staatliches", arial;
}

#title {
  padding: 20px;
  font-size: 60px;
  color: #e5d549;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  margin: 70px 0 10px 0;
}

.display {
  display: flex;
  padding: 5px;
}

.results-div {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.currentResult {
  color: #ffff;
}

.grow {
  transition: all 0.2s ease-in-out;
  transform: scale(1.5);
}

.choice-style {
  height: 300px;
  width: 300px;
  margin: 20px 10px 0;
  text-align: center;
  background-color: #ffff;
  border-radius: 5px;
  font-size: 40px;
}

.playerButtons {
  margin-top: 20px;
}

.btn-style {
  border-radius: 6px;
  border: none;
  padding: 15px 32px;
  width: 130px;
  margin: 10px;
  text-align: center;
  font-family: "Staatliches", arial;
  font-size: 20px;
  background-color: #e5d549;
  cursor: pointer;
}

.reset {
  padding: 5px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  font-family: "Staatliches", arial;
  cursor: pointer;
}

.btn-style:hover {
  background-color: #ebe5ab;
}

.btn-style:active {
  transform: translateY(4px);
}

.reset:active {
  transform: translateY(4px);
}

img {
  max-width: 80%;
  max-height: 80%;
}

.hide {
  display: none;
}
